.hero-container {
	width: 100%;
	text-align: center;
}

.hero {
	padding: $hero-padding;
	border-radius: $hero-border-radius;
	border: $hero-border;
	display: inline-block;
}

.hero-header {
	font-size: $hero-header-font-size;
	line-height: $hero-header-font-size;
}

.hero-title {
	font-size: $hero-title-font-size;
}

.hero-date {
	font-size: $hero-date-font-size;
}

.about .hero {
	background-color: $about-hero-bg;
	color: $about-hero-color;
}

.code .hero {
	background-color: $code-hero-bg;
	color: $code-hero-color;
}

.code .hero a {
	color: $code-hero-color;
}

.features .hero {
	background-color: $features-hero-bg;
	color: $features-hero-color;
}

.features .hero a {
	color: $features-hero-color;
}

.about .hero a:hover,
.features .hero a:hover,
.code .hero a:hover {
	color: $anchor-hover-color;
}