@media (min-width: 720px) {
	body {
		font-size: 20px;
	}
	main {
		padding: 3em 1em;
	}
	h2 {font-size: 2.441em;}
	h4 {font-size: 1.953em;}
	.head-shot {
		width: 220px;
	}
	.layout header nav h2 a div {
		display: inline;
	}
}

@media (min-width: 1200px) {
	.prose {
		width: 1150px;
	}
}
