.prose {
	width: auto;
	max-width: calc(100% - 1em);
	margin: auto;
	padding: 1em;
	color: rgb(var(--gray-dark));

	.label {
		font-weight: bold;
	}

	ul a {
		@include postAnchor;
	}

	.copy-to-clipboard-wrap {
		@include copyToClipboard;
	}

}