<!doctype html>
<html lang="en">
	<head>
    <!--
    https://svgwave.in/
    -->
    <style>
      body {
        background-color: #b2b7bb;
        margin: 0;
      }
      .wrapper {
        display: flex;           /* establish flex container */
        flex-direction: column;  /* make main axis vertical */
        justify-content: center; /* center items vertically, in this case */
        align-items: center;     /* center items horizontally, in this case */
        height: 90vh;
      }
      .container {
        width: 500px; /*100%; */
        margin: 5px;
        text-align: center;
        /*border: 1px solid white;
        border-radius: 8px;*/
      }
    </style>
	</head>
	<body>
		<main class="wrapper">
      <div class="container">
			<h2>[ page not found ]</h2>
			<p>
				<svg width="100%" height="100%" id="svg" viewBox="0 0 1440 590" xmlns="http://www.w3.org/2000/svg" class="transition duration-300 ease-in-out delay-150"><defs><linearGradient id="gradient" x1="0%" y1="50%" x2="100%" y2="50%"><stop offset="5%" stop-color="#69be28"></stop><stop offset="95%" stop-color="#002244"></stop></linearGradient></defs><path d="M 0,600 C 0,600 0,300 0,300 C 89.2882171075232,321.38646513225694 178.5764342150464,342.7729302645139 241,341 C 303.4235657849536,339.2270697354861 338.98248024733766,314.29474407420133 396,300 C 453.01751975266234,285.70525592579867 531.4936447956029,282.0480934386809 613,309 C 694.5063552043971,335.9519065613191 779.042940570251,393.51288217107526 852,402 C 924.957059429749,410.48711782892474 986.334592923394,369.9003778770182 1055,351 C 1123.665407076606,332.0996221229818 1199.6186877361733,334.885606320852 1265,330 C 1330.3813122638267,325.114393679148 1385.1906561319133,312.557196839574 1440,300 C 1440,300 1440,600 1440,600 Z" stroke="none" stroke-width="0" fill="url(#gradient)" fill-opacity="1" class="transition-all duration-300 ease-in-out delay-150 path-0"></path></svg>
			</p>
    </div>
		</main>
	</body>
</html>
